{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-astro"],
  "experimentalTernaries": true,
  "experimentalOperatorPosition": "start",
  "trailingComma": "none",
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
